:root {
  --font-family-main: "Roboto", sans-serif;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  //  Размеры
  --navbar-height: 50px;
  --sidebar-width: 220px;
  --sidebar-width-collapsed: 80px;

  // z-index
  --z-index-normal: 12;
  --z-index-important: 13;
  --z-index-overlay: 14;

  // тени
  --shadow-normal: 0 7px 10px rgba(0 0 0 / 10%);
  --shadow-modal: 0 2px 6px rgba(0 0 0 / 20%);

  // границы
  --border-radius: 4px;

  //  Отступы
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 20px;
  --spacing-xl: 24px;
}
