.panel {
  background: var(--bg-color-input);
  position: absolute;
  padding: var(--spacing-xs);
  min-width: 150px;
  border-radius: var(--border-radius);
  z-index: var(--modal-z-index);
  box-shadow: var(--shadow-modal);
}
