.item {
  list-style-type: none;

  .link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: 6px;

    &.active,
    &:hover {
      background: var(--navbar-color);
    }
  }
}
