.select {
  .label {
    font-size: var(--font-size-sm);
    color: var(--text-color-label);
  }

  .selectContent {
    position: relative;
    border-radius: var(--border-radius);
    background: var(--bg-color-input);

    --icon-width: 18px;

    .placeholder {
      position: relative;
      display: flex;
      color: var(--text-color);
      justify-content: flex-start;
      align-items: center;
      height: 32px;
      border: 1px solid transparent;
      padding-left: var(--spacing-sm);
      padding-right: calc(var(--spacing-sm) * 2 + var(--icon-width));
      font-size: var(--font-size-md);
      width: 100%;
      cursor: pointer;
      z-index: var(--z-index-normal);

      &.disabled {
        color: var(--gray);
      }

      &.empty {
        color: var(--text-color-placeholder);
      }

      &.error {
        border-color: var(--error-color);
        border-radius: var(--border-radius);
      }
    }

    &.active {
      .placeholder {
        padding-top: 1px;
        border-bottom: 2px solid var(--primary-color);

        &.error {
          border-color: transparent;
          border-bottom: 2px solid var(--primary-color);
        }
      }
    }

    .arrowIcon {
      position: absolute;
      color: var(--text-color-label);
      right: var(--spacing-sm);
      top: 50%;
      width: var(--icon-width);
      transform: translateY(-50%);

      &.disabled {
        color: var(--gray);
      }
    }

    .list {
      display: block;
      position: absolute;
      top: 33px;
      border-radius: var(--border-radius);
      box-shadow: var(--shadow-normal);
      background: var(--bg-color-input);
      padding: var(--spacing-xs) 0;
      width: 100%;
      z-index: var(--z-index-important);
    }
  }

  .helperText {
    font-size: var(--font-size-sm);
    color: var(--text-color-label);

    &.error {
      color: var(--error-color);
    }
  }
}
