.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  display: flex;
  align-items: flex-end;
}

.content {
  position: relative;
  background: var(--bg-color);
  width: 100%;
  height: 70%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: var(--spacing-md);
  padding-top: 30px;
  transition: 0.2s transform ease-in-out;
  transform: translateY(100%);
  overflow-y: auto;
  overflow-x: hidden;
}

.opened {
  pointer-events: auto;
  opacity: 1;
  z-index: var(--z-index-important);

  .content {
    transform: translateY(0%);
  }
}
