.app.dark {
  --text-color: white;
  --bg-color: #292a33;
  --sidebar-color: #343541;
  --sidebar-active-link-color: rgb(255 255 255 / 15%);
  --navbar-color: #48495b;
  --bg-color-reverse: #a83535;
  --primary-color: #ececf2;
  --secondary-color: #ececf2;
}
