body.dark {
  --text-color: white;
  --text-color-dark: #242424;
  --text-color-placeholder: #adadad;
  --text-color-label: #d6d6d6;
  --bg-color: #1f1f1f;
  --bg-content-color: #3d3d3d;
  --card-color: #242424;
  --sidebar-color: #e1ecc8;
  --error-color: #c4314b;
  --sidebar-active-link-color: rgb(255 255 255 / 15%);
  --navbar-color: #393646;
  --bg-color-reverse: #a83535;
  --primary-color: #4f52b2;
  --primary-color-hover: #5b5fc7;
  --primary-color-pressed: #464775;
  --gray: #c7c7c7;
  --gray-light: #ebebeb;
  --bg-color-input: #292929;
  --skeleton-bg-color: #292929;
  --skeleton-progress-color: rgb(255 255 255 / 2%);
  --secondary-color: #ececf2;

  // skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;
}
