.app.light {
  --text-color: black;
  --bg-color: #edf1fb;
  --sidebar-color: #dadafa;
  --sidebar-active-link-color: rgb(255 255 255 / 76%);
  --navbar-color: white;
  --bg-color-reverse: #343541;
  --primary-color: #343541;
  --secondary-color: #343541;
}
