body.light {
  --text-color: #242424;
  --text-color-dark: #242424;
  --text-color-placeholder: #616161;
  --text-color-label: #484644;
  --bg-color: #f5f5f5;
  --bg-content-color: #fff;
  --card-color: #fff;
  --sidebar-color: #e1ecc8;
  --error-color: #c4314b;
  --sidebar-active-link-color: rgb(255 255 255 / 76%);
  --navbar-color: #a0c49d;
  --bg-color-reverse: #343541;
  --primary-color: #5b5fc7;
  --primary-color-hover: #4f52b2;
  --primary-color-pressed: #444791;
  --gray: #c7c7c7;
  --gray-light: #ebebeb;
  --bg-color-input: white;
  --skeleton-bg-color: #eaeaea;
  --skeleton-progress-color: rgb(255 255 255 / 60%);
  --secondary-color: #343541;
}
