.stack {
  position: relative;
  height: var(--navbar-height);
  background: var(--navbar-color);
  padding: 0 var(--spacing-md);
  z-index: var(--z-index-important);

  .burgerIcon {
    color: var(--text-color);
    font-size: 25px;
    cursor: pointer;
  }
}
